
.swiper.swiperTest
  .swiper-wrapper
    .swiper-slide
      +pic("top/test","テスト",true)(ver="1.0.1")
    .swiper-slide
      +pic("top/test")(ver="1.0.1")
    .swiper-slide
      +pic("top/test")(ver="1.0.1")