extend pug/_layout

append value
  - var page = "top"
  include pug/_data
  include pug/_mixins
  - var title= "タイトル"
  - var dsc= "説明"

block content
  main.l-main
    include pug/parts/common/_slider
    include pug/parts/top/_hoge